

.header {
  position: relative;
  padding: 40px 60px;
  
  .circle {
    position: absolute;
    top: -170%;
    left: 17%;
    z-index: -1;
    animation: rotateCircle 5s linear infinite;
  }
}

@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}