@property --angle {
	syntax: '<angle>';
	inherits: true;
	initial-value: 0deg;
}


.block {
  position: relative;
  padding-bottom: 120px;

  @media (max-width: 1024px) {
    padding: 0 40px 100px;
  }
  
  @media (max-width: 768px) {
    padding: 0 40px 64px;
  }

  @media (max-width: 600px) {
    padding: 0 15px 64px;
  }

  .dots_grid {
    position: absolute;
    left: -10.7%;
    bottom: 47%;
    z-index: -1;

    width: 486px;
    height: 224px;

    @media (max-width: 1440px) {
      width: 350px;
      height: auto;
      bottom: 55.5%;
      left: -16%;
    }

    @media (max-width: 1024px) {
      width: 304px;
      left: -27%;
      bottom: 57%;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .wrap {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 45px 0;
    @media (max-width: 1024px) {
      gap: 55px 0;
    }

    @media (max-width: 768px) {
      gap: 45px 0;
    }

    @media (max-width: 600px) {
      gap: 40px 0;
    }
  }

  .circle {
    position: absolute;
    left: -5%;
    bottom: 6%;
    z-index: -1;

    @media (max-width: 1440px) {
      left: -6%;
      img {
        width: 231px;
        height: 231px;
      }
    }

    @media (max-width: 1024px) {
      bottom: 12%;
      left: -8%;
      img {
        width: 120px;
        height: 116px;
      }
    }

    @media (max-width: 600px) {
      bottom: 16%;
      left: -10%;
      img {
        width: 69px;
        height: 67px;
      }
    }
  }

  .cross {
    position: absolute;
    bottom: 18%;
    right: -4%;
    z-index: -2;

    @media (max-width: 1440px) {
      bottom: 20%;
      right: -8%;
      img {
        width: 247px;
        height: 247px;
      }
    }

    @media (max-width: 1024px) {
      bottom: 42%;
      right: -9%;

      img {
        width: 111px;
        height: 111px;
      }
    }

    @media (max-width: 600px) {
      bottom: 46%;
      img {
        width: 92px;
        height: 92px;
      }
    }
  }

  .shark {
    position: absolute;
    z-index: -1;
    top: 25%;
    right: 5.5%;
    width: 222px;

    @media (max-width: 1440px) {
      width: 159px;
      top: 21.5%;
      right: -2%;
    }

    @media (max-width: 1024px) {
      width: 107px;
      top: 20px;
      right: -5%;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .title {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;

    @media (max-width: 1024px) {
      font-size: 40px;
    }

    @media (max-width: 768px) {
      font-size: 34px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
  
    @media (max-width: 1440px) {
      gap: 48px 0;
    }

    @media (max-width: 768px) {
      gap: 28px 0;
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 10px 0;
    }

    .date {
      font-weight: 700;
      font-size: 30px;
      background-color: var(--color-pink);
      width: 100%;
      padding: 18px;
      border-radius: 60px;
      height: 73px;

      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        font-size: 20px;
        height: 60px;
      }
    }

    .list {
      li {
        position: relative;
        border-radius: 500px;
        border: 1px solid rgba($color: #fff, $alpha: 0.1);
        margin: -1px;
        overflow: hidden;
        padding: 1px;
        cursor: pointer;

        @media (max-width: 600px) {
          border-radius: 20px;

        }

        &:hover {
          position: relative;
          z-index: 100;
          .time span {
            background-color: transparent; 
          }

          .time::after {
            opacity: 1;
          }

          &::before {
            opacity: 1;
            animation: rotation 5s linear infinite;
          }
        }        

        
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 200%;
          height: 100%;
          z-index: 1;
          inset: 0;
          padding: 2px;
          background: conic-gradient(from var(--angle) at 50% 50%, #E40F95 0deg, #6FCFEB 360deg);
          background-size: 50% 100%;
          transition: all 0.3s ease-in-out;
          opacity: 0;
        }
      }

      .inner {
        position: relative;
        z-index: 3;
        display: flex;
        display: flex;
        align-items: center;
        gap: 0 38px;
        padding: 20px;
        height: 71px;
        background-color: var(--color-blue-100);
        border-radius: 500px;

        @media (max-width: 1024px) {
          height: 64px;
        }

        @media (max-width: 768px) {
          height: auto;
          padding: 16px;
          gap: 0 20px;
        }

        @media (max-width: 600px) {
          border-radius: 20px;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
        }
      }

      .time {
        position: relative;
        font-weight: 700;        
        overflow: hidden;
        border-radius: 60px;
        padding: 1px;
        margin: -1px;

        @media (max-width: 768px) {
          white-space: nowrap;
        }

        @media (max-width: 768px) {
          width: 100%;
          max-width: 134px;
          text-align: center;
        }

        span {
          position: relative;
          z-index: 2;
          display: block;
          padding: 8px 18px;
          background-color: var(--color-blue-100);
          border-radius: 60px;
          transition: all 0.3s ease-in-out;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 200%;
          height: 100%;
          background: conic-gradient(from 179.74deg at 50% 50%, #E40F95 0deg, #6FCFEB 360deg);
          background-size: 50% 100%;
          z-index: 1;
          opacity: 1;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 200%;
          height: 100%;
          background: linear-gradient(72.05deg, #E40F95 2.14%, #6FCFEB 88.72%);
          background-size: 50% 100%;
          z-index: 1;
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }
      }

      .title {
        font-weight: 700;
        font-size: 24px;
        text-align: left;
        line-height: 1.4;

        @media (max-width: 1024px) {
          font-size: 20px;
        }

        @media (max-width: 768px) {
          max-width: 500px;
          font-size: 18px;
        }
        @media (max-width: 600px) {
          
        }
      }
    }
  }
}

@keyframes rotation {
  from { --angle: 176deg; }
	to { --angle: 536deg; }
}