.element {
  position: relative;

  svg {
    width: 100%;
    height: 100%;
  }

  .wave {
    clip-path: inset(100%, 0 0 0);
    animation: waveFill 3s linear forwards;
  }
}

@keyframes waveFill {
  0% {
    clip-path: inset(100%, 0 0 0);
  }
  100% {
    clip-path: inset(0%, 0 0 0);
  }
}
