@property --angle {
	syntax: '<angle>';
	inherits: true;
	initial-value: 0deg;
}

.block {
  position: relative;
  padding: 42px 0 163px;

  @media (max-width: 1440px) {
    padding-top: 80px;
    padding-bottom: 155px;
  }

  @media (max-width: 1024px) {
    padding: 74px 40px 115px;
  }

  @media (max-width: 768px) {
    padding: 36px 40px 62px;
  }

  @media (max-width: 600px) {
    padding: 80px 15px 46px;
  }

  .dotsGrid {
    position: absolute;
    top: 5.5%;
    right: -7.5%;
    z-index: -1;

    width: 486px;
    height: 224px;

    @media (max-width: 1440px) {
      right: -11.5%;
      width: 350px;
      height: auto;
    }

    @media (max-width: 1024px) {
      width: 256px;
      right: -13%;
    }

    @media (max-width: 768px) {
      top: 4%;
      width: 185px;
    }

    @media (max-width: 600px) {
      width: 136px;
      top: 7%;
      right: -27%;
    }
  }

  .circle {
    position: absolute;
    top: 15%;
    left: -2%;
    z-index: -1;

    @media (max-width: 1440px) {
      top: 11%;
      left: -5%;
    }

    @media (max-width: 1024px) {
      top: 5%;
      left: -9%;

      img {
        width: 173px;
        height: 168px;
      }
    }

    @media (max-width: 768px) {
      left: -5%;
      top: 7.5%;
      img {
        width: 111px;
        height: 108px;
      }
    }

    @media (max-width: 600px) {
      left: -10%;
      top: 5%;

      img {
        width: 93px;
        height: 90px;
      }
    }
  }

  .date {
    width: 100%;
    max-width: 378px;
    margin: 0 auto;

    @media (max-width: 1024px) {
      max-width: 285px;
    }

    @media (max-width: 768px) {
      max-width: 247px;
    }

    .inner {
      overflow: hidden;
      position: relative;
      border-radius: 60px;
      padding: 2px;
      margin: -2px;
    }

    span {
      display: block;
      position: relative;
      z-index: 2;
      padding: 18px 24px;
      border-radius: inherit;
      background-color: var(--color-blue-100);

      font-weight: 700;
      font-size: 34px;
      height: 77px;

      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 1024px) {
        font-size: 24px;
        height: 65px;
      }

      @media (max-width: 768px) {
        height: 60px;
        font-size: 20px;
      }
    }

    .inner::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 200%;
      height: 100%;
      background: conic-gradient(from var(--angle) at 50% 50%, #E40F95 0deg, #6FCFEB 360deg);
      background-size: 50% 100%;
      border-radius: inherit;

      animation: rotation 8s linear infinite;
    }
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    gap: 18px 0;
  
    @media (max-width: 1440px) {
      gap: 14px 0;
    }

    @media (max-width: 1024px) {
      margin-top: 34px;
    }

    @media (max-width: 768px) {
      margin-top: 15px;
    }

    @media (max-width: 600px) {
      margin-top: -12px;
    }
  }

  .content .top {
    display: flex;
    align-items: center;
    gap: 0 68px;
    margin-left: 3.5%;

    .firstLine {
      width: 362px;
      margin-top: 18px;
    }
    @media (max-width: 1440px) {
      gap: 0 40px;
      .firstLine {
        width: 347px;
      }
      img {
        width: 643px;
      }
    }

    @media (max-width: 1024px) {
      gap: 0 30px;
      .firstLine {
        width: 264px;
      }
      img {
        width: 489px;
      }
    }

    @media (max-width: 768px) {
      gap: 0 22px;
      margin-left: 1.5%;
      .firstLine {
        width: 185px;
      }
      img {
        width: 343px;
      }
    }

    @media (max-width: 600px) {
      gap: 0 10px;
      margin-left: 3.3%;
      .firstLine {
        width: 86px;
      }
      img {
        width: 234px;
      }
    }
  }

  .content .bottom {
    display: flex;
    align-items: center;
    gap: 0 61px;
    margin-right: -3%;

    .firstArrows {
      width: 217px;
    }

    @media (max-width: 1440px) {
      gap: 0 56px;
      .firstArrows {
        width: 203px;
      }
      img {
        width: 681px;
      }
    }

    @media (max-width: 1024px) {
      gap: 0 43px;
      margin-top: -28px;
      .firstArrows {
        width: 155px;
      }
      img {
        width: 518px;
      }
    }

    @media (max-width: 768px) {
      gap: 0 30px;
      margin-right: 0;
      margin-top: -50px;
      .firstArrows {
        width: 109px;
      }
      img {
        width: 363px;
      }
    }

    @media (max-width: 600px) {
      gap: 0 10px;
      margin-top: -72px;
      margin-right: 3%;
      .firstArrows {
        width: 73px;
      }
      img {
        width: 247px;
      }
    }
  }
}

@keyframes rotation {
  from { --angle: 176deg; }
	to { --angle: 536deg; }
}