.field {
  display: block;
  position: relative;

  &.is_filled {
    input {
      border-color: #6FCFEB;
    }
  }

  input {
    width: 100%;
    font-weight: 500;
    font-family: var(--accent-montserrat);
    border-radius: 60px;
    height: 54px;
    background-color: #F4F4F4;
    padding: 18px 24px;
    color: #000;
    border: 1px solid #F4F4F4;
    transition: all 0.2s ease-in-out;

    &:disabled {
      opacity: 0.5 !important;
      cursor: not-allowed !important;
      pointer-events: none !important;
    }

    &:hover,
    &:focus {
      border-color: #6FCFEB;
    }

    &::placeholder {
      color: #000;
    }
  }

  .error {
    margin-top: 5px;
    display: block;
    text-align: left;
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -15px;
    left: 0;

    @media (max-width: 768px) {
      position: static !important;
    }
  }
}