.contacts {
  position: relative;
  background: rgba($color: #000, $alpha: 0.2);
  padding: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 70px;
  min-height: 580px;

  // @media (max-width: 1440px) {
  //   min-height: 530px;
  // }

  @media (max-width: 1600px) {
    padding: 40px;
    min-height: 460px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    padding: 40px 15px;
    overflow: hidden;
  }

  .lattice {
    position: absolute;
    left: -5px;
    bottom: 0;
    width: 475px;
    height: 70px;

    &:first-child {
      transform: rotateX(-180deg);
      bottom: auto;
      top: 0;
      @media (max-width: 768px) {
        top: -20px;
      }
    }

    // @media (max-width: 1440px) {
    //   width: 352px;
    // }

    @media (max-width: 1600px) {
      width: 271px;
    }

    @media (max-width: 768px) {
      width: 201px;
      bottom: -20px;
    }

    @media (max-width: 600px) {
      width: 271px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 42px;
    flex: auto;
    max-width: 490px;
    @media (max-width: 600px) {
      gap: 28px;
    }
  }

  .title {
    font-weight: 700;
    font-size: 50px;
    line-height: 1;

    @media (max-width: 1600px) {
      font-size: 40px;
    }

    @media (max-width: 768px) {
      font-size: 34px;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }

  .key {
    font-size: 18px;
    line-height: 130%;
  }

  .val {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;

    @media (max-width: 1600px) {
      font-size: 20px;
    }
  }

  .map {
    width: 100%;
    max-width: 1240px;
    height: 460px;
    min-height: 460px;
    overflow: hidden;
    border-radius: var(--border-rad-2);
    position: relative;

    // @media (max-width: 1440px) {
    //   min-height: 410px;
    //   height: 410px;
    // }

    @media (max-width: 124px) {
      max-width: 521px;
      min-width: 521px;
      min-height: 380px;
      height: 380px;
    }

    @media (max-width: 768px) {
      max-width: 362px;
      min-width: 362px;
    }
  
    @media (max-width: 600px) {
      margin: 30px auto 0;
      max-width: 100%;
      min-width: initial;
      height: 274px;
      min-height: 274px;
    }
  }
}