.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 126px;
  position: relative;

  @media (max-width: 1600px) {
    padding: 0 0 102px;
  }

  @media (max-width: 600px) {
    padding: 0 15px 80px;
  }

  .dots_grid {
    position: absolute;
    bottom: 10%;
    right: 23%;
    z-index: -1;
    width: 486px;
    height: 224px;

    @media (max-width: 1440px) {
      bottom: 7%;
      right: 14%
    }

    @media (max-width: 1600px) {
      width: 256px;
      right: 5%;
      bottom: 6%;
    }

    @media (max-width: 768px) {
      bottom: 3%;
    }

    @media (max-width: 600px) {
      max-width: 206px;
      right: 0;
    }
  }

  .rounded_lines {
    position: absolute;
    top: -10.6%;
    left: 0;
    z-index: -1;
    width: 574px;

    @media (max-width: 1440px) {
      left: -13%;
    }

    @media (max-width: 1600px) {
      width: 329px;
      left: -6.5%;
      top: -7%;
    }

    @media (max-width: 768px) {
      width: 267px;
      left: -10%;
      top: -5%;
    }

    @media (max-width: 600px) {
      width: 228px;
      left: -17%;
    }
  }

  .cross {
    position: absolute;
    z-index: -1;
    top: -7%;
    right: 8.5%;


    @media (max-width: 1600px) {
      right: 8.7%;
      top: -12%;
      img {
        width: 220px;
        height: 220px;
      }
    }

    @media (max-width: 1600px) {
      right: 10%;
    }

    @media (max-width: 1440px) {
      right: 5%;
    }

    @media (max-width: 768px) {
      right: -6%;
      img {
        width: 131px;
        height: 131px;
      }
    }

    @media (max-width: 600px) {
      right: 0;
      top: -7%;
      img {
        width: 95px;
        height: 95px;
      }
    }
  }

  .cross_2 {
    position: absolute;
    z-index: -1;
    bottom: 43%;
    left: 26.5%;

    @media (max-width: 1440px) {
      left: 13%;
      bottom: 41%;
    }

    @media (max-width: 1600px) {
      left: 10%;
      bottom: 43%;
      img {
        width: 81px;
        height: 81px
      }
    }

    @media (max-width: 768px) {
      bottom: 49%;
      left: 8%;
      img {
        width: 57px;
        height: 57px;
      }
    }

    @media (max-width: 600px) {
      left: auto;
      bottom: 40%;
      right: 0;
    }
  }

  .querter {
    position: absolute;
    z-index: -1;
    bottom: 22%;
    left: 0;

    @media (max-width: 600px) {
      display: none;
    }
  }

  .waves {
    position: absolute;
    z-index: -1;
    right: 5%;
    bottom: 42%;

    @media (max-width: 1440px) {
      right: -5%;
    }

    @media (max-width: 1600px) {
      width: 202px;
    }

    @media (max-width: 768px) {
      right: -10%;;
    }

    @media (max-width: 600px) {
      display: none !important;
    }

    & > * {
      width: 427px;
    
      @media (max-width: 1440px) {
        width: 345px;
      }

      @media (max-width: 1600px) {
        width: 202px;
      }

      @media (max-width: 768px) {
        width: 148px;
      }
    }
  }

  .text {
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    line-height: 160%;

    @media (max-width: 1600px) {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }
  }

  .lattice {
    position: absolute;
    width: 378px;
    top: 26%;
    left: 50%;
    transform: translateX(-50%);


    @media (max-width: 1600px) {
      width: 345px;
      top: 25%;
    }

    @media (max-width: 768px) {
      width: 287px;
    }

    @media (max-width: 600px) {
      width: 255px;
      top: 27.5%;
      transform: translateX(-30%);
    }
  }

  .first,
  .second,
  .last {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .background_blur {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
  }

  .first,
  .second {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000, $alpha: 0.2);
      backdrop-filter: blur(20px);
      z-index: -1;
    }
  }

  .first {
    margin-left: -25.4%;
    padding: 40px 45px 74px 98px;

    &::before {
      clip-path: path('M52.5873 24.9959C55.0289 10.5634 67.5295 2.10691e-07 82.167 4.98551e-07L997 1.84896e-05C1013.57 1.88154e-05 1027 13.4315 1027 30V288.86C1027 304.888 1014.4 318.085 998.391 318.828L32.1788 363.673C13.0648 364.56 -1.98347 347.568 1.20826 328.701L52.5873 24.9959Z');
    }

    @media (max-width: 1440px) {
      margin-left: -20.4%;
    }

    @media (max-width: 1600px) {
      padding: 44px 32px 60px 80px;
      margin-left: -8%;
      &::before {
        clip-path: path('M40.8586 25.0122C43.2932 10.5722 55.7972 2.11559e-07 70.441 5.00514e-07L801 1.49161e-05C817.569 1.5243e-05 831 13.4315 831 30V229.432C831 245.458 818.404 258.654 802.396 259.4L32.1635 295.269C13.0545 296.159 -1.99504 279.178 1.18545 260.314L40.8586 25.0122Z');
      }
    }

    @media (max-width: 768px) {
      padding: 27px 28px 52px 60px;
      &::before {
        clip-path: path('M30.3787 25.0158C32.8118 10.5742 45.3166 2.11747e-07 59.9617 5.0094e-07L626 1.16783e-05C642.568 1.20055e-05 656 13.4315 656 30V175.56C656 191.586 643.405 204.782 627.397 205.528L32.1602 233.268C13.0522 234.159 -1.99753 217.179 1.18053 198.316L30.3787 25.0158Z');
      }
    }

    @media (max-width: 600px) {
      margin-left: 0;
      padding: 15px 15px 30px 35px;
      &::before {
        clip-path: path('M18.2933 18.5227C19.0669 8.07871 27.7661 1.60414e-07 38.2386 3.67794e-07L324 6.02649e-06C335.046 6.24522e-06 344 8.95431 344 20V243.789C344 254.472 335.605 263.269 324.934 263.768L21.5463 277.946C9.55922 278.507 -0.219174 268.458 0.667234 256.491L18.2933 18.5227Z');
      }
    }

    .text {
      max-width: 889px;

      @media (max-width: 1600px) {
        max-width: 724px;
      }

      @media (max-width: 768px) {
        max-width: 573px;
      }

      @media (max-width: 600px) {
        max-width: 295px;
      }
    }
  }

  .second {
    margin-right: -19.6%;
    margin-top: -2%;
    padding: 85px 102px 40px 40px;
    &::before {
      clip-path: path('M1084.71 309.836C1082.09 324.068 1069.68 334.398 1055.21 334.398L30 334.398C13.4315 334.398 0 320.967 0 304.398V75.6665C0 59.587 12.6774 46.3667 28.7428 45.6929L1104.42 0.576111C1123.67 -0.230988 1138.67 17.0461 1135.18 35.9874L1084.71 309.836Z');
    }

    @media (max-width: 1440px) {
      margin-right: -12%;
    }

    @media (max-width: 1600px) {
      padding: 72px 71px 33px 35px;
      margin-right: -12%;
      &::before {
        clip-path: path('M790.141 270.988C787.707 285.428 775.203 296 760.559 296L30 296C13.4315 296 0 282.569 0 266V66.5678C0 50.5419 12.5958 37.3458 28.6044 36.6003L798.836 0.730682C817.946 -0.15921 832.995 16.8225 829.815 35.686L790.141 270.988Z');
      }
    }

    @media (max-width: 768px) {
      padding: 53px 41px 26px 31px;
      &::before {
        clip-path: path('M625.621 208.984C623.188 223.426 610.683 234 596.038 234L30 234C13.4315 234 0 220.569 0 204V58.4395C0 42.414 12.5953 29.2181 28.6034 28.4721L623.84 0.731796C642.948 -0.158707 657.998 16.8206 654.819 35.6835L625.621 208.984Z');
      }
    }
    
    @media (max-width: 600px) {
      margin-left: 0;
      padding: 36px 30px 23px 20px;
      &::before {
        clip-path: path('M325.707 259.477C324.933 269.921 316.234 278 305.761 278L20 278C8.95428 278 0 269.046 0 258V34.2106C0 23.5279 8.39529 14.7311 19.0663 14.2325L322.454 0.0536804C334.441 -0.506531 344.219 9.54187 343.333 21.5092L325.707 259.477Z');
      }

      .is_mobile_sm {
        left: -5%;
      }
    }
 
    .text {
      max-width: 999px;
      @media (max-width: 1600px) {
        max-width: 730px;
      }

      @media (max-width: 768px) {
        max-width: 589px;
      }

      @media (max-width: 600px) {
        max-width: 295px;
      }
    }
  }
  
  .last {
    margin-top: 33px;
    margin-left: -16.5%;
    text-align: center;
    background-image: url(/webp/content/tx-bg-3.webp);
    padding: 40px 95px 99.4px 107.5px;

    @media (max-width: 1440px) {
      margin-left: -11.5%;
    }

    @media (max-width: 1600px) {
      padding: 33px 58px 69px 72px;
      margin-left: -5%; 
    }

    @media (max-width: 768px) {
      padding: 25px 49px 47px 58px;
    }

    @media (max-width: 600px) {
      padding: 30px 20px 40px 35px;
      background-image: url(/webp/content/tx-bg-m-3.webp);
    }
   
    .inner {
      width: 100%;
      max-width: 832px;
      margin: 0 auto;

      @media (max-width: 1600px) {
        max-width: 706px;
      }

      @media (max-width: 768px) {
        max-width: 554px;
      }
      @media (max-width: 600px) {
        max-width: 290px;
      }
    }  

    .title {
      font-weight: 700;
      font-size: 34px;
      line-height: 120%;
      margin-bottom: 44px;

      @media (max-width: 1600px) {
        font-size: 28px;
        margin-bottom: 30px;
      }

      @media (max-width: 768px) {
        font-size: 24px;
        margin-bottom: 20px;
      }

      @media (max-width: 600px) {
        font-size: 18px;
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 40px;

      @media (max-width: 1600px) {

      }

      button {
        font-weight: 700;
        font-size: 22px;

        width: 100%;
        max-width: 395px;

        @media (max-width: 1440px) {
          max-width: 335px;
        }

        @media (max-width: 768px) {
          font-size: 16px;
          max-width: 213px;
        }
      }
    }
  }

  .arrows_left,
  .arrows_right {
    width: 178px;

    @media (max-width: 1600px) {
      width: 123px;
    }

    @media (max-width: 768px) {
      width: 123px;
    }

    @media (max-width: 600px) {
      display: none !important;
    }
  }

  .arrows_right {
    transform: rotate(180deg);
  }
}