.element {
  
  &.is_anim {
    &.is_pink {
      path {
        animation: pulseAnim1 1s linear forwards;
      }
    
      .path_5 {
        animation-delay: 0s;
      }
    
      .path_4 {
        animation-delay: .2s;
      }
    
      .path_3 {
        animation-delay: .4s;
      }
    
      .path_2 {
        animation-delay: .6s;
      }
    
      .path_1 {
        animation-delay: .8s;
      }
    }
    
    &.is_blue {
      path {
        animation: pulseAnim2 1s linear forwards;
      }

      .path_5 {
        animation-delay: 0s;
      }
    
      .path_4 {
        animation-delay: .2s;
      }
    
      .path_3 {
        animation-delay: .4s;
      }
    
      .path_2 {
        animation-delay: .6s;
      }
    
      .path_1 {
        animation-delay: .8s;
      }
    }

    &.is_gold {
      path {
        animation: pulseAnim3 1s linear forwards;
      }

      .path_5 {
        animation-delay: 0s;
      }
    
      .path_4 {
        animation-delay: .2s;
      }
    
      .path_3 {
        animation-delay: .4s;
      }
    
      .path_2 {
        animation-delay: .6s;
      }
    
      .path_1 {
        animation-delay: .8s;
      }
    }
  }
}

@keyframes pulseAnim1 {
  from {
    stroke: #E40F95;
  }
  to {
    stroke: #6FCFEB;
  }
}

@keyframes pulseAnim2 {
  from {
    stroke: #6FCFEB;
  }
  to {
    stroke: #E9A45D;
  }
}

@keyframes pulseAnim3 {
  from {
    stroke: #E9A45D;
  }
  to {
    stroke: #E40F95;
  }
}